/* Bloques de estilo para el template */

#header {
	
	width: 30%;
	text-align: center;
	margin: auto;
	font-size: 40px;
	font-family: Helvetica, Tahoma, Arial;
	font-weight: bold;
	border-style:none;
	height: 125px;
	border-width: 4px;
	top: 5%;
}

#footer {
	text-align: center;
	width: auto;
	margin: 0 auto;
	border-width: 4px;
	font-weight: bold;
	font-style: white;
	border-style:none;

}

#parrafo_blanco {
    
    color: #FFFFFF;
}

#p_informativo {
	
	font: Helvetica, Tahoma, Arial;
	color: black;
	font-size:15px;
	font-style:normal;
}

#cuadro_login {
	
	width: 50%;
	margin: auto;
	border-color: black;
	border-radius: 10px;
	background-color: white;
	padding: 20px;
}

#crea_instrumento {
	
	border-radius: 10px;
	border-color: black;
}

#boton_cabecera {
	
        font-size:11px;
        font-family:Helvetica, Tahoma, Arial;
        font-weight:bold;
        color:black;
        background:#ddd;
        border:none;
        width:auto;
        height:20px;
        
}  

#fecha {
	
		position:absolute;
		top:  25%;
		left: 11%;
		font-size:10px;
        font-family:Helvetica, Tahoma, Arial;
        font-weight:bold;
        color:white;
}


#boton_dni {
	
        font-size:10px;
        font-family:Helvetica, Tahoma, Arial;
        font-weight:bold;
        color:black;
        background:#eee;
        border:0px;
        width:90px;
        height:19px;
}  

#boton_paginador {
	
        font-size:10px;
        font-family:Helvetica, Tahoma, Arial;
        font-weight:bold;
        color:black;
        background:#eee;
        border:0px;
        width:25px;
        height:19px;
}  

#contents {
	
	position:relative;
	text-align: center;	
	width:80%;
	top:15%; 
	margin: 3%;
	left:7%;
	padding-top: 30px;
	padding-bottom: 40px;
	background: #E6E6FA;
	border-style:outset;
	border-width: 1px;
	border-radius: 5px;
}


#usuario {
	float: right;
	position: relative;
	font-size: 15px;
	font-family: "arial";
	top: 4px;
	right: 5px;
}

#titulo {
	position: absolute;
	padding-left: 95px;
	padding-top: 18px;
}

#login {
	
	text-align: center;
	font-size: 15px;
}

#menu_izquierdo {
	
	background-color: #eee;
	position:absolute;
	top:  18%;
	left: 1%;
	text-align: center;
	font-style:Helvetica, Tahoma, Arial;
	margin:1%;
	width: 8%;
	border:none;
	border-color:white;
	color: black;
	border-width: 2px;
	font-size: 10px;
	border-radius: 2px;
}


#menu_derecha {
	
	background-color: #eee;
	position:absolute;
	top:  18%;
	left: 89%;
	text-align: center;
	font-style:Helvetica, Tahoma, Arial;
	margin:1%;
	width: 8%;
	border:none;
	border-color:white;
	color: black;
	border-width: 2px;
	font-size: 10px;
	border-radius: 2px;
}


#menu_login2 {
	
	background-color: #eee;
	position:absolute;
	top: 35%;
	left: 89%;
	text-align: center;
	font-style:Helvetica, Tahoma, Arial;
	margin:1%;
	width: 8%;
	border:none;
	border-color:white;
	color: black;
	border-width: 2px;
	border-radius: 2px;
}

#cuadro_login {
	
	font-style: Helvetica, Tahoma, Arial;
	font-size: 10px;
	
}

#menu_tipos {
	
	font-style:Helvetica, Tahoma, Arial;
	font-size: 10px;

}

#buscar {
	
	width: 60%;
}

#boton_buscar {
	
	width: 10%;
	
}


#login_label {
	
	font-family: Helvetica, Tahoma, Arial;
	width: 8%;
}

#login_input {
	
	font-family: Helvetica, Tahoma, Arial;
	width: 70%;
	margin:1%;

}
 
#eliminar_cesta {
	
	text-align: center;
}

/* Bloques de estilos para las vistas */


body {
 
    background-image: url('fondo2.jpg');
    background-attachment:fixed;
    background-size: 100%;
	font-family: Helvetica, Tahoma, Arial;
	font-size: 10px;
	line-height: 12px;
	

}

/* Estilo obtenido de una web*/


table,th,td{
    border:1px solid #666;
    border-collapse:collapse;
    text-align:center;

}
table{
    border:none;
    border-top:1px solid #000;
    margin: auto;
}
thead th{
    padding:5px 10px;
    font-size:90%;
    text-transform:uppercase;
    color:#333;
    background:#ddd;
    text-align:center;
    size: auto;
    

}
tbody td,tbody th{
    font-size:85%;
    padding:5px 10px;
    background:#eee;
    text-align:center;

}
tbody th{
    color:#333;
    text-align:center;

}

tfoot td,tfoot th{
    border:none;
    padding-top:10px;
}

legend {
    
    font-size:20px;
    text-align:left;
    font-family: Helvetica, Tahoma, Arial;
}

a.mail:link {
	
	color: white;
}

label {
	
	font-size: 12px;
}

input {
	
	font-size: 10px;
}
